body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#logo_02 {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 20px;
}
.container {
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 100px;
  padding-right:  100px;
  justify-content: space-around;
  align-items: center;
  background-color: #2E4172;
  border-radius: 5px;
  box-sizing: border-box;

}
.container-quem {
  position: relative;
}
.container-footer {
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #2E4172;
  border-radius: 5px;
  box-sizing: border-box;
}
.left {
  margin-top: 10PX;
  margin-right: auto;
}
.container p {
  display: inline-block;
  margin: 10px;

}
.container img {
  align-self: flex-start;
}
.section-divider {
  font-size: 25px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4F628E;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;

}
.text {
  box-sizing: border-box;
  padding: 100px;
  height: 400px;
  width: 100%;

  font-size: 2em;
}
.text-2 {
  width: 30%;
  margin: 110px;
  display: inline-block;
  background-color: blue;
  font-size: 2em;
}
#center-image {
  position: relative;
  height: 500px;
  width: 100%;
  opacity: 0.5;
  filter:brightness(90%);
}
.center-image-text {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #2E4172;
  font-size: 200%;
  top: 50%;
  width: 350px;
  left: 25%;
  transform: translate(-50%, -50%);
  font-weight: bold;

}
.center-image-video {
  position: absolute;
    top: 50%;
    left: 55%;
    width: 200px;
    transform: translate(-50%, -50%);
}
.background-img {
  width: 100%;
  opacity: 0.2;
  max-height: 450PX;
}
.card {
  display: inline-block;
}
.center-text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  text-align: justify;
  color: #2E4172;
}
#social-media {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 75px;
}
a {
  color: white;
  text-decoration:none;
  font-weight: bold;
}
